div#banner img{
	position: relative;
	margin-left: 3.8%;
	width: 25%;
}
div#banner h1{
	float: right;
	padding-right: 20%;
	padding-top: 30px;
	color: blue;
	font-size: 3.5em;
}
div#info{
	margin: 3.5%;
}
div#contact{
	margin-top: 5%;
}
div#contact ul{
	margin: 0;
	padding: 0;
	padding-bottom: 10%;
	list-style-type: none;
	width: 100%;

}

div#contact li{
	margin: none;
	text-align: center;
	display: block;
	float: left;
	padding-left: 7.36%;
}
div#contact ul div h3.description{
	display: none;
	overflow-wrap: none;
}
div#contact ul div:hover h3.description{
	background-color: lightblue;
	display: block;
	text-align: center;
	width: 56%;
	margin-left: 22%;
	margin-right: 22%;
	padding-top:1%;
	padding-bottom: 1%;
	border-radius: 25px;
	position: fixed;
	top:0;
}



